/*--------------------------------------------------------------
## Header Menu Issue With Admin Bar
--------------------------------------------------------------*/

@media (max-width: 991px) {
    body.logged-in.admin-bar .main-menu.show-menu {
        margin-top: 42px;
    }
    body.logged-in.admin-bar .header-area {
        margin-top: 42px;
    }
    body.logged-in.admin-bar header.sticky .main-menu.show-menu {
        margin-top: 0;
    }
}

/*--------------------------------------------------------------
## Header Menu Issue With Admin Bar
--------------------------------------------------------------*/

@media (max-width: 991px) {
    body.logged-in.admin-bar header .main-nav {
        margin-top: 32px;
    }
    body.logged-in.admin-bar header.sticky .main-nav {
        margin-top: 0;
    }
    body.logged-in.admin-bar header.sticky .main-menu.show-menu {
        margin-top: 0;
    }
}

body.logged-in.admin-bar .header-area.style-2 {
    margin-top: 32px;
}

.wp-caption {
    word-break: break-all;
}

.wp-caption-text {
    word-break: break-all;
}

.gallery-caption {
    word-break: break-all;
}

.bypostauthor {
    word-break: break-all;
}

.screen-reader-text {
    word-break: break-all;
}